@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <p>Det her er boligforeningens forside</a>.</p>
    <p>For oven er der en række navigations menuer. Brug disse for at foretage handlinger i systemet</p>
</div>
