@page
@model WebAppFront.Pages.Documents.IndexModel
@{
}
<!-- Authorize level 2 -->
<!-- Vis alle dokumenter -->

<!-- Authorize level 3 -->
@if (!User.IsInRole("Medlem"))
{
    <a asp-page="/UploadFile/Upload">Upload Dokument</a>
}
@if (User.IsInRole("Medlem"))
{
    <p>Du har ikke adgang til denne sides indhold</p>
}

