@page
@model WebAppFront.Pages.Documents.IndexModel
@{
    ViewData["Title"] = "Documents";
}

<p>Denne sidde er til at se og uploade filer</p>

<div class="container mt-4">
    <div class="row">
        @if (User.IsInRole("Formand") || User.IsInRole("Bestyrelse"))
        {
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Upload Dokument</h5>
                        <p class="card-text">Denne knap er til at uploade dokumenter. Navngiv disse alt efter hvad de indebære. Hvis det er et referat, så kald dokumentet Referat.</p>
                        <a asp-page="/UploadFile/Upload" class="btn btn-primary">Upload Dokument</a>
                    </div>
                </div>
            </div>
        }

        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Se Uploadede Filer</h5>
                    <p class="card-text">Denne knap er til at se alle de filer der er blevet uploaded. Disse filer kan kun uploades af udvalgte brugere, dog kan de ses og hentes af alle. Hent filer på eget ansvar.</p>
                    <a asp-page="/ListFiles/Files" class="btn btn-primary">Se Uploadede Filer</a>
                </div>
            </div>
        </div>
    </div>
</div>
