@page
@model WebAppFront.Pages.Documents.IndexModel
@{
}

@if (User.IsInRole("Formand") || User.IsInRole("Bestyrelse"))
{
    <a asp-page="/UploadFile/Upload">Upload Dokument</a>
}
<a asp-page="/ListFiles/Files">Se Uploadede Filer</a>

