@page
@model WebAppFront.Pages.Email.IndexModel
@{
    ViewData["Title"] = "Messages";
}
<!-- vis alle beskeder -->
<h3>Denne side er ikke implementeret. Placeholder</h3>
<a asp-page="./Send">Send Besked</a>